<div id="content" class="site-content" tabindex="-1">
  <div class="container">
    <!-- Pagina 404 de error donde se mostrara un mensaje al usuario de que la pagina no fue encontrada -->
    <!-- BREADCRUMB -->
    <div class="section" id="breadcrumb">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb-tree">
              <li><a href="#">Inicio</a></li>
              <li>404 Error</li>
            </ul>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <div id="primary" class="content-area align-items-center justify-content-around">
      <main id="main" class="site-main">
        <div class="center-block align-items-center justify-content-around">
          <div class="info-404">
            <div class="text-xs-center inner-bottom-xs align-items-center justify-content-around">
              <div class="shop-img align-items-center justify-content-around">
                <img width="1110px" height="350px" src="./../../../assets/img/404Error.jpg" alt="error">
              </div>
              <h2 class="display-3">¡Error 404!</h2>
              <p class="lead ">La página a la que haz intentado acceder no ha podido ser localizada.</p>
              <p class="lead ">¿Desea volver al menu principal?. <a href="../home/home.component.html">Volver a la
                  pagina pricipal</a></p>
              <hr class="m-y-2">
              <div class="sub-form-row inner-bottom-xs">
                <div class="widget woocommerce widget_product_search">

                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
