<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- Seccion del footer donde se mostrara informacion extra -->
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Acerca de nosotros</h3>
            <p class="justify-content-end">Somos una empresa en crecimiento que busca brindarle los productos de mas
              alta calidad directo a su puerta</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>Calle vieja - Diagonal UPS</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+593-96-156-1457</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>domNaza@mini.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <li><a href="http://localhost:4200/cat1">Lacteos</a></li>
              <li><a href="http://localhost:4200/404Error">Embutidos</a></li>
              <li><a href="http://localhost:4200/cat3">Ropa</a></li>
              <li><a href="http://localhost:4200/cat2">Limpieza</a></li>
              <li><a href="http://localhost:4200/404Error">Helados</a></li>
              <li><a href="http://localhost:4200/404Error">belleza</a></li>
              <li><a href="http://localhost:4200/404Error">Cuidado personal</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Información</h3>
            <ul class="footer-links">
              <li><a href="#">Acerca de nosotrso</a></li>
              <li><a href="#">Contactos</a></li>
              <li><a href="#">Politica de privacidad</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Servicios</h3>
            <ul class="footer-links">
              <li><a href="#">Mi cuenta</a></li>
              <li><a href="http://localhost:4200/carrito">Ver carrito</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
          <span class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>
              document.write(new Date().getFullYear());

            </script> Todos los derechos reservados | This template is made with <i class="fa fa-heart-o"
              aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
